.body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0;
  margin: 0 auto;
  width: 1100px;
  line-height: 24px;
  font-size: 22px;
  font-weight: normal;
  font-family: "Raleway", "Arial", sans-serif;
}
