.card_type_film {
  background-image: url(../../../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../../../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../../../images/card-lot-03.jpg);
}
