.cover__bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #fff;
  padding: 133px 50px 40px 80px;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  opacity: 1;
}
