.cover__bottom {
  display: flex;
  justify-content:flex-start;
  text-align: center;
  color: #fff;
  padding: 0 32px;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.01em;
}