.cover__subline {
  display: block;
  margin: 147px auto 62px 48px;
  text-align: center;
  line-height: 28px;
  font-size: 22px;
  font-weight: normal;
  word-spacing: 0.75em;
  letter-spacing: 0.01em;
}
