.cover__title_position_top {
  text-align: start;
}

.cover__title_position_middle {
  text-align: center;
  line-height: 137%;
}

.cover__title_position_bottom {
  text-align: end;
  line-height: 104%;
}
