.card {
  min-height: 563px;
  height: 100%;
  padding: 50px 40px;
  justify-content: space-between;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
